/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 1.8rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;

}

/* base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
}

p{
    text-align: justify;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s color .25s;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

input,
button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i{
    font-size: var(--font-size-md);
}

/* reuseable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.screen-sm-hidden{
    display: none;
}

/* header */
.header{
    background-color: var(--secondary-background-color);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    flex-direction: column;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-block: 1.5rem;
}

/* .inner{
    width: 60%;
    display: block;
    margin: 0 auto;
    background-color: blue;
    flex-direction: column;
} */

.logo{
    font-size: var(--font-size-sm);
    margin-inline: 2rem;
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color: var(--secondary-background-color);
    opacity: 1;
    transform: scale(1);
    transition: opacity .25s ease-in;
}




/* blog post */
.Code-Header{
    font-size: rem;
}

.blog-post{
    padding-bottom: 5rem;
}

.blog-post-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2.5rem;
}

.blog-post-title{
    font-size: clamp(3rem, 5vw, 5rem);

}

.blog-post-subtitle{
    font-size: clamp(2rem, 4vw, 3.5rem);
}

.blog-post-data .article-data{
    margin-bottom: 2.5rem;
}

.blog-post-data img{
    width: 100%;
    height: var(--item-min-height-sm);
    object-fit: cover;
    object-position: center 10%;
}

.blog-post-container .container{
    max-width: 90rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.blog-post-images{
    max-width: 30%;
    height: auto;
}

.quote{
    background-color: var(--secondary-background-color);
    padding: 2.5rem;
}

.quote p{
    font-style: italic;
}

.quote span{
    font-size: 5rem;
}

.author{
    background-color: var(--secondary-background-color);
}

.author-image-box{
    position: relative;
    height: var(--item-min-height-sm);
}

.author-about{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.author-name{
    color: var(--light-color);
    font-weight: 400;
}
